.layout-container{
    height: 100vh;
}

.top-menu{
    // background-color:#B4B4B2;
    color: #fff;
    background-color:#21a67ec7;
    height: 40px;
    width: 100%;
    // position: fixed;
}

.content{
    // margin: 0px 24px;
    // margin-top: 50px;
}

.example-form-field {
    margin: 0 8px 16px 0;
  }